/* comments form */
form{
	margin: 2rem 5rem;
}

label{
	margin: 1.2rem 0 0 0;
	font-size: 1.2rem;
	font-weight: bold;
}

input{
	padding: 0.5rem;
	margin: 0.2rem 0;
	border: 2px solid #999;

}

textarea{
	margin-top:1rem;
	border: 2px solid #999;

}

.form-group{
	display: flex;
	flex-direction: column;
}

.meta{
	font-size: .95rem;
}

.meta a{
	color: #3d405b;
	text-decoration: none;
}

button{
	background: #3d405b;
	color: white;
	font-weight: 900;
	margin-top: 1.5rem;
	border: 2px solid #3d405b;
	width: 20%;
	outline: none;
	padding: 0.3rem 0.5rem;
}
